<nav id="main-navbar" class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="assets/smart-contract-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Representative module
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="activeTab=='Profile' ? 'active' : 'inactive'">
          <a class="nav-link" href="#" (click)="navigate('Profile', '/profile')">Profile 
            <!-- <spanclass="sr-only">(current)</span>--></a>
        </li>
        <li class="nav-item" [ngClass]="activeTab=='Contracts' ? 'active' : 'inactive'">
          <a class="nav-link" href="#" (click)="navigate('Contracts', '/contracts')">Contracts </a>
        </li>
        <li class="nav-item" [ngClass]="activeTab=='Proposals' ? 'active' : 'inactive'">
          <a class="nav-link" href="#" (click)="navigate('Proposals', '/proposals')">Proposals <span *ngIf="newProposals > 0" class="badge badge-danger">{{newProposals}}</span></a>
        </li>
        <li class="nav-item" [ngClass]="activeTab=='Propose' ? 'active' : 'inactive'">
          <a class="nav-link" href="#" (click)="navigate('Propose', '/propose')">Propose </a>
        </li>
      </ul>
  
    </div>
    <form class="form-inline my-2 my-lg-0">
      <div *ngIf="logged;else other_content">
        <button class="btn rounded-btn" (click)="logout()">Sign out</button>
      </div>
      <ng-template #other_content>
        <button class="btn rounded-btn" type="submit" (click)="login()">Log in</button>
      </ng-template>
  
  
    </form>
  </nav>
  
  <router-outlet></router-outlet>

<router-outlet></router-outlet>